/*Color Palette
    #232931 -> Fondo
    #393e46 -> Fondo clarito
    #4ecca3 -> Resaltados
    #eeeeee -> Letra
*/
/*font-family: 'Open Sans', sans-serif; -> Texto basico*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
/*font-family: 'Bitter', serif; -> Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body{
    background-color: #232931;
    color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #eeeeee;
    text-decoration: none;
}

/*Barra de navegacion*/

#navVar{
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

li.nav{
    display: inline-block;
}


li.nav a{
    display: block;
    
    font-variant: small-caps;
    font-weight: bold;
    font-size: 25px;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:after{
    display: block;
    content: '';
    border-bottom: 2px groove #4ecca3;
    transform: scaleX(0);
    margin-top: 14px;
    transition: transform 250ms ease-in-out;
}

li.nav a:hover:not(#active):after {
    transform: scaleX(1);
}

li.nav a.active{
    display: block;
    font-family: 'Bitter', serif;
    color: #eeeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px groove #4ecca3;
}

#logo_menu{
    float:left;
    position: absolute;
}

/*Páginas de productos*/
.flex-contenedor{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px auto;
    justify-content: center;
}

.flex-opcion-menu{
    padding: 0px 75px;
}

.flex-opcion-menu img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.flex-opcion-menu h3{
    margin-top: 25px;
}

.flex-opcion-menu:hover{
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
}

.flex-opcion-menu:hover h3{
    margin-top: 20px; /*Tamaño del margen menos el sombreado*/
}
.flex-opcion-menu:hover img{
    border-color: #4ecca3;
    border-width: 5px;
    border-style: solid;
}

.flex-a{
    padding: 0px 75px;
}

.flex-a img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.flex-a h3{
    margin-top: 25px;
}

.flex-a{
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    margin-top: -5px;
}

.flex-a h3{
    margin-top: 20px; /*Tamaño del margen menos el sombreado*/
}
.flex-a img{
    border-color: #4ecca3;
    border-width: 5px;
    border-style: solid;
}

#flex-active{
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    margin-top: -5px;
}

#flex-active h3{
    margin-top: 20px; /*Tamaño del margen menos el sombreado*/
}

#flex-active img{
    border-color: #4ecca3;
    border-width: 5px;
    border-style: solid;
}

.flex-item{
    padding: 50px 50px;
}

.flex-item h4{
    margin-top: 20px;
}
.flex-item:hover{
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
}

.flex-item:hover img{
    border-color: #4ecca3;
    border-width: 5px;
    border-style: solid;
}

.flex-item:hover h4{
    margin-top: 15px; /*Tamaño del margen menos el sombreado*/
}

.flex-item img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .flex-ccontenedor {
        flex-direction: column;
    }
}

/*Breadcrumbs*/
/*No se activa al pasar por el before*/

.breadcrumb {
    line-height: 30px;
    height: 30px;
    margin: 0 10px 10px -8px; /*Margen izquierdo -8px (el margen predeterminado del body)*/
}
.breadcrumb > a {
    position: relative;
    float: left;
    background: #16a085;
    padding: 0 10px 0 20px;
    transition: all 0.1s ease-in-out;
}
.breadcrumb > a:before {
    content: "";
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    border-width: 15px 0 15px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #16a085;
    transition: all 0.1s ease-in-out;
}


.breadcrumb > a:hover, .breadcrumb > a .active {
    background: #4ecca3;
    color: #eeeeee;
}

.breadcrumb > a:hover + a:before, .breadcrumb > a .active + a:before {
    border-color: transparent transparent transparent #4ecca3;
}

.breadcrumb > a:first-child {
    /*Para el primer elemento de los breadcrumbs (antes era para ponerle un margen redondeado  la izuqierda)*/
}

.breadcrumb > a:last-child{
    color: #393e46;
}

.breadcrumb > a:first-child:before {
    display: none;
}

.breadcrumb > a:last-child {
    padding-right: 20px;
    border-radius: 0 4px 4px 0;
}

.breadcrumb > a:last-child:after{
    content: "";
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    border-width: 15px 0 15px 15px;
    border-style: solid;
    border-color: #232931 transparent #232931 #16a085;
    transition: all 0.1s ease-in-out;
} 

.breadcrumb a:hover::after {
    border-color: #232931 transparent #232931 #4ecca3;
}
