@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

html {
	font-size: 12pt;
}

body {
	margin: 10px;
	background-color: #393e46;
	color: #eeeeee;
	font-family: 'Bitter', serif;
}
@media (max-width: 900px) {
	.wrapper > div {
		display: flex;
		flex-wrap: wrap;
	}

	.logo {
		justify-content: center;
		align-items: center;
	}

	.logo > img {
		height: 10%;
		width: 20%;
	}

	.menu {
		justify-content: center;
		align-items: center;
	}

	.menu > div {
		flex: 1;
		text-align: center;
		font-size: 2.5vw;
		font-family: 'Open Sans', sans-serif;
	}

	.menu > div > a {
		text-decoration: none;
		color: grey;
	}

	.bcrumbs {
		display: none;
	}
		
	.bcrumbs > div{
		display: none;
	}

	.art1 {
		justify-content: center;
		align-items: center;
	}

	.art1 > a {
		text-align: center;
		font-size: 3vw;
		text-decoration: none;
		color: grey;
	}

	.art1 > a > img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
		margin-top: 2%;
		width: 45%;
		height: 35%;
	}

	.art2 {
		justify-content: center;
		align-items: center;
		margin-top: 3%;
	}

	.art2 > a {
		text-align: center;
		font-size: 3vw;
		text-decoration: none;
		color: grey;
	}

	.art2 > a > img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
		margin-top: 2%;
		width: 45%;
		height: 35%;
	}
}

@media (min-width: 900px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr;
		grid-template-rows: 10% 10% 1fr 1fr;
		grid-gap: 10px;
	}

	.wrapper > div {
		display: flex;
	}

	.logo {
		grid-row: 1;
		grid-column: 1;
		justify-content: center;
		align-items: center;
	}

	.logo > img {
		width: 60%;
		height: 80%;
	}

	.menu {
		grid-row: 1;
		grid-column: 2 / 7;
		justify-content: center;
		align-items: center;
	}

	.menu > div {
		flex: 1;
		text-align: center;
		font-size: 2.5vw;
		font-family: 'Open Sans', sans-serif;
	}

	.menu > div > a {
		text-decoration: none;
		color: grey;
	}

	.bcrumbs {
		grid-row: 2;
		grid-column: 2 / 4;
	}
		
	.bcrumbs > div{
		font-size: 2.4vw;
	}

	.art1 {
		grid-row: 3;
		grid-column: 1 / 7;
		justify-content: center;
		align-items: center;
	}

	.art1 > a {
		flex: 1;
		text-align: center;
		font-size: 3vw;
		text-decoration: none;
		color: grey;
	}

	.art1 > a > img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
		width: 90%;
		height: 90%;
	}

	.art2 {
		grid-row: 4;
		grid-column: 1 / 7;
		justify-content: center;
		align-items: center;
		margin-top: 3%;
	}

	.art2 > a {
		flex: 1;
		text-align: center;
		font-size: 3vw;
		text-decoration: none;
		color: grey;
	}

	.art2 > a > img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
		width: 90%;
		height: 90%;
	}
}


